body { margin: 0; background-color: #fafafa; }

body {
  font-family: "helvetica neue", helvetica, arial, sans-serif;
  font-size:   12pt;
  line-height: 18pt;
}

#page_content {
  background-color: #fff;
  color: #333;
  width: 960px;
  margin: 0 auto 1em;
  padding: 1px 20px 20px 20px;
  position: relative;
  border: 1px solid #ddd;
  border-top: none;
  box-shadow: 0 0 10px #eee;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  text-decoration: none;
  color: #37C;
  &:hover {
    color: #fff;
    background-color: #7cf;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 0.5em;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

table { border-collapse: collapse; border-top: 1px solid #ccc;}
tr { border-bottom: 1px solid #ccc }
th { text-align: left; }
td, th { padding: 0.5em 1em; }

input[type="text"], textarea, select {
  font-family: inherit;
  font-size: 12pt;
  padding: 0.25em;
  margin: 0.25em 0;
  border: 1px solid #ccc;
  color: #333;
}
